#root, body{
  width: 100%;
  height: 100%;
  background-color: #282c34;
}

.error_class {
  font-size: .85em;
  color: #ffc31b;
  padding: .4em;
  margin: auto;
  margin-bottom: 2px;
  border-radius: 7px;
  border: solid 2px #ffc31b;
  background: #06429e;
  text-align: center;
}



.post_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2em 3em;
  border-radius: 12px;
}

.topic_post {
  border-radius: 3px;
  border: 2px solid black;
  text-align: center;
  border-radius: 12px;
  padding: 5px;
}

.post_image img {
  border-radius: 16px;
  margin:2px;
}

.post_username {
 padding: 6px;
 color: gray;
}

.post_content {
  padding: 5px 12px;
  margin-top: auto;
}

.post_button_div {
  margin: 2px;
}

.post_button {
  margin: 2px;
}

.post_time {
  font-size: 11px;
  color: gray;
  padding: 14px 18px;
  margin-left: auto;
}

.add_post_form_container {
  background-color: rgb(97, 156, 207);
  margin: 12px 20px;
  border-radius: 20px;
}

.add_post_form_container * {
padding: 12px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card-header,
.card-content {
  padding: 1rem;
}

.card-header h1,
.card-content h1,
.card-content h2,
.card-content p {
  margin: 0;
}

.card-image {
  width: 100%;
}

.card-image img {
  width: 100%;
}
.card-image img:hover {
  opacity: .8;
}

.card-actions {
    padding: 1rem;
    text-align: center;
}

.card-actions button,
.card-actions a {
    margin: 0 0.25rem;
}

.card-actions button {
  font: inherit;
  border: 1px solid #00695c;
  color: #00695c;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}

.margined {
  margin: 5px 36px;
}

.card-actions button:hover,
.card-actions button:active {
  background-color: #00695c;
  color: white;
}

form .invalid {
  border-color:red;
}